/* general */
html,
body {
  height: 100%;
}
* {
	box-sizing: border-box;
}

@font-face {
	font-family: "Colus";
	src:url("/fonts/Colus-Regular.woff2") format("woff2"),
		url("/fonts/Colus-Regular.woff") format("woff"),
		url("/fonts/Colus-regular.otf") format("otf");
}
body{
	display: flex;
	flex-direction: column;
}
header{
	min-height: 100vh;
}
a:hover{
	text-decoration: none;
}
.container_bevc a, 
.container_bevc a:focus,
.container_bevc a:visited, 
.container_bevc a:hover, 
.container_bevc a:visited{
	color: black;
	text-decoration: none;
}

header .pic_presentation{
	height: 100%;
	background:linear-gradient(135deg,rgba(236, 59, 38, 0.3) 0%, rgba(2, 91, 245,0.3) 100%);
	background-size: cover;
	background-position: center;
}

/* img presentation section */
header .pic_presentation.img_bg_academie{
	background-image: url('../images/background/bg_academie.png');
}
header .pic_presentation.img_bg_jeunes{
	background-image: url('../images/background/bg_jeunes.png');
	background-position-y: 15%;
}
header .pic_presentation.img_bg_dames{
	background-image: url('../images/background/bg_jeunes.png');
}
header .pic_presentation.img_bg_hommes{
	background-image: url('../images/background/bg_jeunes.png');
}
header .pic_presentation.img_bg_faq{
	background-image: url('../images/background/bg_jeunes.png');
}
header .pic_presentation.img_bg_contact{
	background-image: url('../images/background/bg_jeunes.png');
}
header .pic_presentation.img_bg_salles{
	background-image: url('../images/background/bg_jeunes.png');
}
header .pic_presentation.img_bg_dames{
	background-image: url('../images/background/bg_jeunes.png');
}
header .pic_presentation.img_bg_private{
	background-image: url('../images/background/bg_jeunes.png');
}


/* header differents sections */ 

header .pic_presentation{
	display: flex;
	justify-content: center;
	align-items: center;
}
header .pic_presentation .inner_pic_presentation{
	width: 5rem; 
	height: 3rem;
	background-color: rgba(20, 20, 20, 0.4);
	width: 600px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header .pic_presentation .title_header_block{
 color: white; 
 font-family: "Colus";
	text-transform: uppercase;
}
main{
	margin: 0; 
}
footer{
	display: flex;
	background: #025BF5;
}
a, p, li{
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.container.container_bevc{
	min-width: 100%;
}

/* menu */
.nav_bevc .nav-item a.nav-link,
.nav_bevc .nav-item.active a.nav-link{
	color: white;
	text-transform: uppercase;
}
.nav_bevc .nav-item a.nav-link:hover,
.nav_bevc .nav-item a.nav-link:focus{
	color: #025BF5;
	text-decoration: none;
}
.img_logo{
	width: 80px; 
	height: 80px; 
}
.nav_bevc{
	background-color: rgba(20, 20, 20, 0.8);
}

/* container */

.hp__bloc{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:30px;
  z-index:99999;
}
.hp__bloc .central-bloc{
  min-width:50%;
	max-width: 70%;
	min-height:450px;
	background-color: white;
	box-shadow: 0px 0px 8px 10px rgba(0,0,0,0.1);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	margin-top: -3.5rem;
	border-radius: 5px;
}
.hp__bloc .central-bloc h3{
	font-family: "Colus";
	color: #025BF5;
	margin-top: -20px;
	font-weight: bolder;
	text-shadow: 0px 0px 8px 10px rgba(0,0,0,0.1);
}
.hp__bloc .central-bloc h3::after,
.hp__bloc .central-bloc h3::before{
	color: #025BF5;
	content: "";
	display: block;
	height: 2px; 
	width: 20px;
}
.hp__bloc .central-bloc p{
	color: black;
	padding: 0 1.5rem;
}
/* border blue*/
.title{
	height: 40px;
	background: #025BF5;
	min-width: 550px; 
	max-width: 700px;
	margin-bottom: 20px;
	margin-left: -2em;
}
.title h2{
	font-family: "Colus";
	color: white;
	padding-left: 20%;
	position: relative; 
	display:inline-flex;
}
.title h2::after{
	content: "";
	position: absolute;
	display:flex;
	width: 90px; 
	height: 2px;
	background-color: white;
	align-items: center;
	left: 100%;
	margin-left: 15px;
	margin-top: 20px;
}
/* end border blue */
/* Button */

.btn{

}
.btn:hover{

}
.btn.btn-download{
	border: 2px solid #025BF5;
	border-radius: 3px;
	min-width: 220px;
	height: 40px;
	margin: auto;
}
.btn.btn-download{

}



/* end Button */
.container.container_bevc{
	padding: 0;
}
.container_bevc .content{
	display: flex;
	flex-direction: column;
}
.hp__imgHero{
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
}
.hp__imgHero .imgHero{
	width: 50%;
}
.imgHero > img{
	width: 100%;
}
.container_bevc .content .hp__imgGalery .hp__innerGallery{
	margin: 1.5rem 1rem;
}
.container_bevc .content .hp__imgGalery .gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.container_bevc .content .hp__imgGalery .gallery > img{
	flex: 1 1 auto;
	width: auto;
	height: auto;
	max-width: 450px;
	min-width: 250px;
	margin: 5px;
	object-fit: cover;
}
.container_bevc .content .hp__imgGalery .follow_us{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: .5em;
  flex-direction: column;
}
.follow_us p.hashtag,
.follow_us .ico_socialmedia i.fa{
	color: #025BF5;
	text-shadow: 0px 0px 8px 10px rgba(0,0,0,0.1);
}
/* sponsors*/

.container.container_bevc .sponsors{
	display: flex;
	flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2.5rem;
}
.container.container_bevc .sponsors a{
	width: 150px;
	height: 100px;
}
.container.container_bevc .sponsors .img_sponsor{
	width: 150px;
	height: 100px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0.5em;
}
.container.container_bevc .sponsors .spon_1{
	background-image: url('../images/sponsors/new-Fintro.png');
}
.container.container_bevc .sponsors .spon_2{
	background-image: url('../images/sponsors/partenamut.png');
}
.container.container_bevc .sponsors .spon_3{
	background-image: url('../images/sponsors/Saifor.jpg');
}
.container.container_bevc .sponsors .spon_4{
	background-image: url('../images/sponsors/WSL.jpg');
}
.container.container_bevc .sponsors .spon_5{
	background-image: url('../images/sponsors/kia-new-2.jpg');
}
.container.container_bevc .sponsors .spon_6{
	background-image: url('../images/sponsors/clubinkt_.png');
}
.container.container_bevc .sponsors .spon_7{
	background-image: url('../images/sponsors/carrefour.png');
}
.container.container_bevc .sponsors .spon_8{
	background-image: url('../images/sponsors/carrefour-express.jpg');
}
.container.container_bevc .sponsors .spon_9{
	background-image: url('../images/sponsors/carodec.jpg');
}
.container.container_bevc .sponsors .spon_10{
	background-image: url('../images/sponsors/idema.png');
}
.container.container_bevc .sponsors .spon_11{
	background-image: url('../images/sponsors/ketjep.jpg');
}
.container.container_bevc .sponsors .spon_12{
	background-image: url('../images/sponsors/Aqual.jpg');
}
.container.container_bevc .sponsors .spon_13{
	background-image: url('../images/sponsors/tc.png');
}
.container.container_bevc .sponsors .spon_14{
	background-image: url('../images/sponsors/tamtam.jpg');
}
.container.container_bevc .sponsors .spon_15{
	background-image: url('../images/sponsors/croky.jpg');
}
.container.container_bevc .sponsors .spon_16{
	background-image: url('../images/sponsors/logo_LSDP.png');
}
.container.container_bevc .sponsors .spon_17{
	background-image: url('../images/sponsors/AUD.jpg');
}
.container.container_bevc .sponsors .spon_18{
	background-image: url('../images/sponsors/vacances.png');
}
/* slide */
.carousel-item{
	height: 100vh; 
	min-height:300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
		background-size: cover;
}
.slide.slide_bevc .carousel-caption.bloc_infos{
	display: flex; 
	background-color: rgba(20, 20, 20, 0.8); 
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 50%;
	transform: translateY(-50%);
	height: 150px;
}
.slide.slide_bevc .bloc_infos h3{
	font-family: "Colus";
	font-size: 3.75rem;
	color:white;
}
.slide.slide_bevc .carousel-indicators{
	margin-bottom: 5%;
}
.slide.slide_bevc .carousel-indicators li{
	background-color: #025BF5;
	height: 3px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
}
.carousel.slide.slide_bevc .carousel-control-next-icon,
.carousel.slide.slide_bevc .carousel-control-prev-icon{
	background-color: #025BF5;
	height: 50px; 
	width: 50px; 
	border-radius: 50%; 
}


/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* footer */

.footer__privateLife{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Quicksand', sans-serif;
}
.footer__privateLife p{
	text-align: center;
}

.footer__privateLife p a{
  color:white;
  text-decoration: none; 
}
.footer__privateLife p a:hover,
.footer__privateLife p a:visited
.footer__privateLife p a:focus{
  color:white;
  text-decoration: none; 
}
.footer_contact{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	padding-top: 25px; 
	margin-top: 50px;  
}
.footer_contact span,
.footer_contact i, 
.footer_contact h5,
.footer_contact a,
.footer_contact a:hover,
.social_medias span,
.social_medias i, 
.social_medias p{
	color: white; 
}
.footer_contact i{
	margin-right: 10px;
}
.footer_contact .contact_us{
	display: flex;
	flex-direction: column;
}
.footer_contact .contact_us span{
	color: white;
}
.social_medias .ico{
	display: flex;
  justify-content: center;
}
/* Results */

.result__block{
	border: 4px solid #025BF5;
	padding: 2em;
	max-width: 75%;
	margin: 2em auto;
}
.result__block h3{
	background-color: white;
	margin: -50px auto 0 auto;
	color: #025BF5; 
	max-width: 11em;
	top: -100px;
	display: flex;
	justify-content: center;
}
.result__block .inner_block__result{
	display: flex;
	flex-grow: 1;
	margin-top: 30px;
}
.results_bl,
.results_br{
	flex-grow: 1;
	text-align: center;
}
.primaire_name{
	font-weight: bold;
	text-transform: uppercase;
	color: #EC3B26;
}

/* contact */

.contacts{
	display: flex;
	margin: 3rem;
	justify-content: space-around;
	flex-wrap: wrap;
}
.contacts .inner_contact{
	width: 300px;
	height: 500px;
	font-family: sans-serif;
	position: relative;
	overflow: hidden;
	margin: 1rem 0;
}
.contacts .inner_contact{
	background-image:url("../images/volley_ball_official.png");
	border-radius: 4px;
	box-sizing: border-box;
}
.inner_contact .header_contact{
	height: 350px;
	background-color: rgba(5, 5, 5, 0.45);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contacts .inner_contact .header_contact .img_contact{
	width: 180px;
	height: 180px;
	margin: 50px 0 0 0;
	background-position: center;
	background-size: cover;
	border-radius: 50%;
	box-shadow: 0 0 0 0.8em rgba(112, 15, 7, 0.3), 0 0 0 1em rgba(236, 59, 38, 0.35);
}
.img_contact.img_contact_00{
	background-image: url('../images/staff/stephane_hennaut_img.jpg');
}
.img_contact.img_contact_01{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_02{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_03{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_04{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_05{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_06{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_07{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_08{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_09{
	background-image: url('../images/staff/fred_vs_img.jpg');
}
.img_contact.img_contact_10{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_11{
	background-image: url('../images/staff/staff_profile_img.png');
}
.img_contact.img_contact_12{
	background-image: url('../images/staff/cindy_jacob_img.jpg');
}


.contacts .inner_contact img{
	width: 175px;
}
.header_contact h4{
	font-family: 'Quicksand', sans-serif;
	margin: 170px 0 0 0;
	color: white;
	font-weight: normal;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
.inner_contact .infos_contact{
	min-height: 150px;
	background-color: rgba(5, 5, 5, 0.6);
	padding: 0.5rem
}
.inner_contact .infos_contact .title_contact span,
.inner_contact .infos_contact .mail_contact .fa,
.inner_contact .infos_contact .mail_contact a{
	color: white;
}
.inner_contact .infos_contact .mail_contact a:hover{
	text-decoration: none;
}
.title_contact{
	text-align: center;
}
.title_contact span{
	text-transform: uppercase;
	font-family: 'Quicksand', sans-serif;
}
.mail_contact a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mail_contact a{
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

/* Jeunes */ 

.container_personnal_content{
	display: flex; 
	width: 100vw;
	padding: 2em;
	flex-direction: column;
}
.container_personnal_content a,
.container_personnal_content a:hover,
.container_personnal_content a:visited,
.container_personnal_content a:focus{
	color: black;
	text-decoration: none;
}
.container_personnal_content .intro{
	margin:10px auto 50px;
}
.container_personnal_content .intro p{
	margin: 0;
	text-align: center;
	font-weight: 800;
	font-size: 20px;
}
.young_content{
	display: flex;
	flex-direction: row-reverse;
}
.young_content .info_text_section{
	flex-basis: 60%;
}
.young_content .info_text_section li{
	list-style: none;
}
.young_content .info_text_section li:before {    
	font-family: 'FontAwesome';
	content: '\f00c';
	margin:0 5px 0 -15px;
	color: #025BF5;
}
.young_content .info_image_section{
	flex-basis: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.young_content .info_text_section h4{
	margin-bottom: 30px;
}
.young_content .info_text_section a.btn_link{
	display: flex;
	margin: 30px; 
}
.young_content .info_text_section .location {
	display: flex;
}
.young_content .info_text_section .location:before{
	font-family:"FontAwesome";
	content:"\f276";
	color: #025BF5;
	font-size: 2.5em;
	margin-right: 30px;
}
.young_content .info_image_section img{
	max-width: 600px;
	box-shadow: 6px 10px 20px rgba(213,213,213,.49);
}
.young_content .info_image_section picture::before{
	content:""; 
	display: block;
	height: 150px;
	width: 150px; 
	background-color: #025BF5;
	position: relative;
	z-index: -1;
	bottom: -120px;
	left: -30px;
}

/* TEAMS SENIORS */ 

.team_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 50px 0;
}
.team_list .team{
	border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
	text-align: center;
	margin: 20px 0;
}
.container_image{
  position: relative;
  max-width: 400px;
}
.team_image{
  opacity: 1;
  display: block;
  transition: .5s ease;
	backface-visibility: hidden;
	max-width: 400px;
	height: auto; 
}
.team_text{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.container_image:hover .team_image{
	opacity: 0.5;
	background-color: rgba(255,0,0,0.6);
}
.container_image:hover .team_text{
  opacity: 1;
}
.team_text_hover{
  background-color: #025BF5;
  color: white;
  font-size: 16px;
	padding: 16px 32px;
	border-radius: 5px;
}
.team_infos{
	margin-bottom: 15px;
}
.team_infos h3{
	font-family: "Colus";
	color: #025BF5;
	text-transform: uppercase;
	padding: 1em;
}